*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    background:#0b132b;
    min-height:100vh;
    display:flex;
    justify-content:center;
    padding:30px;

}


.container{

    width:90%;
    max-width:900px;

}


h1{

    text-align:center;
    color:white;
    margin-bottom:30px;

}



.note-input{

    background:#1c2541;
    padding:20px;
    border-radius:20px;

}



input,textarea{

    width:100%;
    padding:12px;
    margin-bottom:15px;

    border:none;
    outline:none;

    border-radius:10px;

    font-size:16px;

}


textarea{

    height:120px;
    resize:none;

}



button{

    padding:10px 20px;
    background:#3a86ff;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;

}



#notesContainer{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;

    margin-top:30px;

}



.note{

    background:#fefae0;
    padding:20px;
    border-radius:15px;
    color:black;

}



.note h2{

    margin-bottom:10px;

}


.delete{

    margin-top:15px;
    background:#d00000;

}



@media(max-width:700px){

    #notesContainer{

        grid-template-columns:1fr;

    }


    .container{

        width:100%;

    }

}