*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "inter",Arial, Helvetica, sans-serif;    
}
html{
    scroll-behavior:smooth;

}
body{
    background: #0f172a;
    color:#FFFFFF;

}
:root{
    --bg-color:#of172a;
    --navbar-color:#111827;
    --card-color:#1e293b;
    --card-hover:#273449;
    --primary:#7c3aed;
    --primary-light:a855f7;
    --text-color:#ffffff;
    --secondary-text:#94a3b8;
    --border-color:#334155;
    
}